/ {
	chosen {
		zephyr,code-partition = &slot0_partition;
	};
};

&flash0 {
	/delete-node/ partitions;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000c000>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 0x00067000>;
		};

		slot1_partition: partition@73000 {
			label = "image-1";
			reg = <0x00073000 0x00067000>;
		};

		storage_partition: partition@da000 {
			label = "storage";
			reg = <0x000da000 0x00006000>;
		};

		reserved_top_partition: partition@e0000 {
			label = "reserved-legacy-bootloader";
			read-only;
			reg = <0x000e0000 0x00020000>;
		};
	};
};
