# Copyright (c) 2018 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESTENOVA_R1_UF2
	select SOC_NRF52840_QIAA

if BOARD_ESTENOVA_R1_UF2

config BOARD_SERIAL_BACKEND_CDC_ACM
	bool "USB CDC"
	default y

config MPSL_FEM_GENERIC_TWO_CTRL_PINS_SUPPORT
    bool "Use FEM"
    default y
    help
        Use RF front-end module (FEM) is a device that amplifies the RF signal, to increase the range distance, the strength, and the robustness of a link connection.

config BOARD_ENABLE_FEM
    bool "FEM enabled"
    default y
    select MPSL_FEM_GENERIC_TWO_CTRL_PINS_SUPPORT
    help
      Enabke front-end module (FEM).

config CONFIG_MPSL
    bool "Enable MPSL"
    default true
    help
      Enable Nordic Multi Protocol Service Layer

config BOARD_ENABLE_DCDC
    bool "DCDC mode"
    select SOC_DCDC_NRF52X
    default n
    
config MPSL_FEM_GENERIC_TWO_CTRL_PINS_SUPPORT
    bool
    default y

endif # BOARD_ESTENOVA_R1_UF2
